{{> header showlogin=false showupload=true showlogo=true}}
<main>
    <table id="table">
        <tr>
            <th>File Name</th>
            <th>Size</th>
            <th>Date</th>
            <th></th>
        </tr>
    </table>
</main>