{{> header showlogin=false showupload=false showlogo=true}}
<main>
    <h1>{{fileName}}</h1>
    <button onclick="downloadFile('{{fileID}}', '{{userProvidedPasshash}}')" class="big-button">Download</button>
</main>