{{> header showlogin=true showupload=false showlogo=true}}
<main style="padding-top: 6rem;">
    <h1>This is an application</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum pulvinar quam vitae lacinia.</p>
    <a href="/register" class="big-button">Sign up</a>
</main>