{{> header showlogin=false showupload=false showlogo=true}}
<main>
    <div class="login-signup-form">
        <input type="text" name="register-team" id="register-team" placeholder="Team Name" autocomplete="new-team"/>
        <input type="text" name="register-fname" id="register-fname" placeholder="First Name" autocomplete="new-fname"/>
        <input type="text" name="register-lname" id="register-lname" placeholder="Last Name" autocomplete="new-lname"/>
        <input type="email" name="register-email" id="register-email" placeholder="Email" autocomplete="new-email"/>
        <input type="password" name="register-password" id="register-password" placeholder="Password" autocomplete="new-password"/>
        <button onclick="register()">Register</button>
    </div>
</main>